.banner {}
.banner-left {}
.banner-right {}
.banner-title,
.face-emotion-title,
.emotion-analysis-title,
.banner-description {
  color: grey;
}
.face-emotion-description,
.emotion-analysis-description {
  color: white;
}
.banner-run {}
.banner-run-github {}
.banner-run-run {}

img {
  background-color: #FF5C58;
  border: none;
  outline: none;
  user-select: none;
  -webkit-user-drag: none;
  border-radius: 0.5rem;
}

button {
  border: none;
  border-radius: 0.5rem;
}